SQLJDBC/src/test/java/ru/job4j/xmlxslt/entries.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    
    <xs:element name="entries" type="entriesType"/>

    <xs:complexType name="entriesType">
        <xs:sequence>
            <xs:element name="entry" type="entryType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    

    <xs:complexType name="entryType">
        <xs:sequence>
            <xs:element name="field" type="fieldType" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="fieldType">
        <xs:restriction base="xs:integer"/>
    </xs:simpleType>




</xs:schema>